.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__title {
    color: var(--preto-100);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form__newproduct {
    font-size: 30px;
    line-height: normal;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container__input {
    resize: none;
    border-radius: 4px;
    background-color: var(--text-color);
    padding: 30px 12px 8px;
    border-bottom: 1px solid var(--clr-grey-300);
    width: 100%;
    color: black;
    font-weight: 500;
}

.input-container__label {
    position: absolute;
    inset: 0;
    padding: 16px 0 0 12px;
    margin: 0;
    color: var(--clr-grey-400);
    transition: all .1s ease;
    height: min-content;
    z-index: 1;
}

.input-container__input:not(:placeholder-shown)+.input-container__label, .input-container__input:focus+.input-container__label {
    padding-top: 8px;
    font-size: var(--fs-200);
}

.input-container__message {
    position: absolute;
    margin-left: 14px;
    margin-top: 2px;
    color: #ff0000b3;
    bottom: -18px;
    font-size: var(--fs-200);
}

.hide {
    display: none;
}

.form--footer .input-container+.input-container {
    margin-top: 8px;
}

.form__button {
    width: min-content;
    white-space: nowrap;
}

.button {
    position: relative;
    display: inline-block;
    border: 0;
    padding: 12px 16px;
    color: var(--text-color);
    font-weight: var(--fw-semi-bold);
    background-color: var(--clr-blue-400);
    font-size: var(--fs-400);
    text-decoration: none;
    transition: all .2s ease;
    z-index: 0;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    color:var(--second-bg-color);
    border-radius: 4px;
}

@media screen and (min-width: 1000px) {
    .form--login-width {
        width:50%;
        margin: 0 auto
    }

    .form--addproduct {
        width: 70%
    }
}

.footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer__links-list-item a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none
}

.footer__form {
    width: 100%
}


@media screen and (min-width: 1000px) {
.button {
    padding: 16px;
    font-weight: var(--fw-regular);
  }
}
