.product-card__link {
    color: var(--azul-100, #2A7AE4);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px;
}

